*{
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 8px;
    padding: 10px 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-bottom: 2px solid;
    margin: 0 10%;
    .nav-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      justify-content: center;
      gap: 15%;
    }
  
    #logoSvg path {
    fill: transparent;
    stroke: #ffffff;
    stroke-width: 1;
    stroke-dasharray:50;
    stroke-dashoffset: 50;
    animation: textAnimation 4s ease-in-out 1 forwards;
  }
  
  @keyframes textAnimation {
    0% {
      stroke-dashoffset: 50;
    }
    80% {
      fill: transparent;
    }
    100% {
      fill: #ffffff;
      stroke-dashoffset: 0;
    }
  }
 @media screen and (max-width:  1299px), screen and (min-width: 768px) and (max-width: 992px) {
  /* estilos aplican si la pantalla es menor a 600px O entre 768px y 992px */

      padding: 1px 10px;
  
      .nav-container {
        gap: 1rem; 
        padding: 0 1px;

      }
      
      
    }
  }
  
  
  ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: end;
    padding-left: 50px;
  }
    li {
      color: #ffffff;
      display: grid;
      place-content: center;
      margin: 0;
    }
  
  
  .menus {
    gap: 1rem;
    margin: 0;
  }
  
  .example-2 {
    .icon-content {
      margin: 10px;
      position: relative;
  
      .tooltip {
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        padding: 6px 10px;
        border-radius: 5px;
        opacity: 0;
        visibility: hidden;
        font-size: 14px;
        transition: all 0.3s ease;
      }
  
      &:hover .tooltip {
        opacity: 1;
        visibility: visible;
        bottom: -50px;
      }
  
      a {
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: #ffffff;
        background-color: transparent;
        transition: all 0.3s ease-in-out;
  
        &:hover {
          box-shadow: 3px 2px 45px 0px rgba(99, 10, 10, 0.12);
          color: rgb(255, 255, 255);
  
          .filled {
            height: 100%;
          }
        }
  
        svg {
          position: relative;
          z-index: 1;
          width: 20px;
          height: 20px;
        }
  
       
  
        .filled {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 0;
          background-color: #000;
          transition: all 0.3s ease-in-out;
        }
  
        &[data-social="whatsapp"] {
          .filled {
            background-color: #128c7e;
          }
          ~ .tooltip {
            background-color: #128c7e;
          }
        }
  
        &[data-social="facebook"] {
          .filled {
            background-color: #3b5998;
          }
          ~ .tooltip {
            background-color: #3b5998;
          }
        }
  
        &[data-social="instagram"] {
          .filled {
            background: linear-gradient(
              45deg,
              #405de6,
              #5b51db,
              #b33ab4,
              #c135b4,
              #e1306c,
              #fd1f1f
            );
          }
          ~ .tooltip {
            background: linear-gradient(
              45deg,
              #405de6,
              #5b51db,
              #b33ab4,
              #c135b4,
              #e1306c,
              #fd1f1f
            );
          }
        }
  
        &[data-social="tiktok"] {
          .filled {
            background-color: #000;
          }
          ~ .tooltip {
            background-color: #000;
          }
        }
      }
    }
}

  .menu {
    color: #ffffff;
    padding: 0.5rem;
    position: relative;
    text-decoration: none;
    
    
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background: #ffffff;
        border-radius: 50%;
        transform: scaleX(0);
        transition: all 0.5s ease;
        bottom: 0;
        left: 0;
    }
  
    &:hover::before {
      transform: scaleX(1);
    }
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  .hamburger {
    display: none; // se mostrará en media query
    width: 30px;
    height: 22px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 4px;
      background-color: white;
      left: 0;
      transition: all 0.3s ease-in-out;
      border-radius: 2px;
    }
  
    &::before {
      top: 0;
    }
  
    &::after {
      bottom: 0;
    }
  
    span {
      position: absolute;
      top: 9px;
      right: 0;
      width: 70%;
      height: 4px;
      background-color: white;
      transition: all 0.3s ease-in-out;
      border-radius: 2px;
    }
    
    
  }

    @media screen and (max-width: 992px) {
    
        .hamburger {
        display: block;
        }
        #menu-toggle:checked + .hamburger::before {
            transform: rotate(45deg);
            top: 9px;
          }
          
          #menu-toggle:checked + .hamburger::after {
            transform: rotate(-45deg);
            bottom: 9px;
          }
          
          #menu-toggle:checked + .hamburger span {
            opacity: 0;
          }
      .logo{
      
        transform: scale(0.6);
        
      
      }
          

    
    ul {
        padding-left: 0px;
      }

    .menus {
    
    flex-direction: column;
    background: rgba( 0, 0, 0, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 15px );
        

      width: 100%;
      padding: 10px 0;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 10;
  
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      transition: max-height 0.5s ease, opacity 0.3s ease;
    } 
    
    #menu-toggle:checked + .hamburger + .menus {
            display: flex;
            max-height: 500px;
            opacity: 1;
            transition: 1s;
    }

  
  
    .example-2 {
      .icon-content {
        .tooltip {
          display: none;
        }
  
        a:hover .filled {
          display: none;
        }
      }
    }

    .whars {
        animation: pulsew 2s infinite;
    }
}

@media (max-width: 1299px) and (min-width:768px){

}