<div class="servicios">
  <div class="servicios-circulares-container">
    <div class="circle-wrapper"><iframe src='https://my.spline.design/particleaibrain-0Q2LUovGPBNNWr3vuBH8SQNX/' frameborder='5' ></iframe>      

      <div class="circle-container">
        <div
          class="circle-item"
           *ngFor="let item of services; let i = index"
          [style.transform]="'rotate(' + (i * angleStep) + 'deg) translate(' + circleRadius + 'px) rotate(' + (-i * angleStep) + 'deg)'"         
          (mouseenter)="updateCenterText(item)"
          (mouseleave)="resetCenterText()"
        >
          <img [src]="item.icon" [alt]="item.title" [class.main-icon]="i === 1" />
        </div>
        <div class="3danime">
  </div>
        <div class="center-text">
          <h3>{{ centerTitle }}</h3>
          <p>{{ centerDescription }}</p>
        </div>
      </div>
    </div>

    <div class="text-content">
      <h2>Servicios Circulares</h2>
      <p>
        Descubre nuestros servicios en diseño, desarrollo, marketing y más.
      </p>
      <a href="#" class="btn">Saber más</a>
    </div>
  </div>
</div>
