// This file contains the styles for the 3D animation component
#container3D {
  position: fixed;
  inset: 0;
  z-index: 1;
  pointer-events: none; /* auto Permite clics y movimientos */
  cursor: pointer;
}

#container3D .object-grab {
  cursor: grab;
}

#container3D .object-grabbing {
  cursor: grabbing;
}