*{
    padding: 0;
    margin: 0;
}
#navbar{
    position: fixed;
    right: 250px;
    left: 250px;
    z-index: 10; // asegura que esté encima de otros elementos
    padding: 0.5rem; // opcional

}
@media screen and (max-width: 764px) {
     #navbar{
        right: 10px;
        left: 10px;
     }
      
    }
.content {
    padding-top: 80px; // ajusta según la altura de tu navbar
}
.home{
    
    min-height: 100vh;
   
    min-height: 100vh;
    font-family: sans-serif;
}