/* You can add global styles to this file, and also import other style files */
body {
    background-image:url('resourse/FondoHome.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    font-family: sans-serif;
}